<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
</head>
<body>
    <h1>Update  ur Post</h1>
    <%if(Post!== null){%>
    <form id="updatePostForm">
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="<%= Post.title %>" value="<%= Post.title %>" required><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" placeholder="<%= Post.description %>" value="<%= Post.description %>" required><br><br>
        <h4><strong>By:</strong><a href="/api/auth/single-user?_id=<%=Post.userId._id%>"><%= Post.userId ? Post.userId.email : 'Unknown' %></a><h4>
        <button type="submit">Update Post</button>
    </form>
    <button id="deletePostButton">Delete Post</button> <!-- Delete button -->
<%}else{%>
    <h2>post is not found</h>
    <%}%>
    <a href="/all-posts">Back to Posts</a>

    <!--<script src="/app.js"></script>-->
   

    <script src="/updatePost.js"></script>

</body>
</html>

